<legend>Todo Item Information</legend>
<div>
	<div class="form-group row"> <!-- GUD -->
		<label class="col-xs-6 col-form-label">GUID</label>
		<div class="col-xs-6">{{todoItem.guid}}</div>
	</div>

	<div class="form-group row"> <!-- First Name -->
		<label class="col-xs-6 col-form-label">Username</label>
		<div class="col-xs-6">{{todoItem.userName}}</div>
	</div>

	<div class="form-group row"> <!-- Last Name -->
		<label class="col-xs-6 col-form-label">Todo text</label>
		<div class="col-xs-6">{{todoItem.todo}}</div>
  </div>
</div>
